{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <script>
        $(window).ready(loadCamera);
    </script>
{% endblock %}

{% block topbar %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="container container2">
    <div class="content">
        <h3>Text Reader</h3>
        <p>Read texts from the camera!</p>
        <div id="disp-area">
            <div>
                <video id="player" autoplay></video>
            </div>
            <div>
                <button id="cap" class="btn large success pad" onclick="clickCapture()">Capture</button>
            </div>           
        </div>
        <div id="disp-area2">
            <div class="inner-container">              
                <div>
                    <div><img src="" alt="Snapshot" id="snapshot" class="pad"></div>                        
                </div>
                <h5>Matched Items  </h5>
                <div id="result">
                    <label for="result-list">[ ID ] Product Name</label>
                    <select name="products" id="result-list" size=3 onchange=enableShowDataButton()></select>
                </div>
                <button id="showdata" class="btn large success pad" disabled onclick=showItemData()>Show Item Data</button>
                <button id="camback" class="btn large info pad" style="float:right;" onclick=loadCamera()>Back to Camera</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
